.error {
  height: 16px;
  margin-top: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: red;
  font-size: 12px;
  gap: 6px;
  color: var(--UI-Red, #e10d0d);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  .icon {
    width: 16px;
    height: 16px;
  }
}
