.wrapper {
  width: fit-content;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e0e5f2;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 16px;
  color: #121922;
  background-color: #fff;
  cursor: pointer;
  min-width: 160px;
  transition: border 0.2s ease;

  &:hover {
    border-color: #b0c2e0;
  }
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
  fill: #b0c2e0;
}
