.button {
  display: inline-flex;
  align-items: center;

  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #0047ff;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  fill: currentColor;
}

.text {
  white-space: nowrap;
}
