.root {
    display: flex;
    flex-direction: column;
    gap: 12px;

    span {
        color: #71869D;
    }

    p {
        line-height: 16px;
    }
}

.item {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 6px;
    user-select: none;

    cursor: pointer;

    p {
        font-size: 14px;
        font-weight: 400;
    }
}

.radio {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(173, 191, 223, 0.40);
    border-radius: 50%;
    transition: all 0.15s;

    div {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #002CFB;
        opacity: 0;
        transition: all 0.15s;
    }

    &_active {
        border-color: #002CFB;

        div {
            opacity: 1;
        }
    }
}