.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 20px;
  height: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.056px;

  span {
    white-space: nowrap;
  }

  &.icon_left {
    flex-direction: row;
  }

  &.icon_right {
    flex-direction: row-reverse;
  }

  &.button_primary {
    background-color: #003cff;
    color: #fff;

    &:hover {
      background-color: #0024cb;
    }
  }

  &.button_outline {
    background-color: transparent;
    color: #003cff;
    border: 1px solid #003cff;

    &:hover {
      color: #0024cb;
      border-color: #0024cb;
    }
  }

  &.button_danger {
    background-color: transparent;
    color: #ff1f1f;
    border: 2px solid #ff1f1f;

    &:hover {
      color: #cc0101;
      border-color: #cc0101;
    }
  }

  &.button_disabled {
    background-color: #f0f2f5 !important;
    color: #98a0af !important;
    border: none !important;
    cursor: not-allowed !important;
    pointer-events: none;
  }

  .loader {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &.loader_visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .icon {
    transition: opacity 0.3s ease;
  }

  .text_hidden {
    display: none;
  }
}
