.root {
  // table-layout: fixed; // если нужна фиксированная ширина
  padding: 0 28px 20px 28px;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border-spacing: 0;
  opacity: 1;
  color: var(--Text-Primary, #121922);

  .dataRow:hover {
    background-color: #eaf0fa;

    .deleteWrapper {
      opacity: 1;
      pointer-events: auto;
    }
  }

  th,
  td {
    height: 50px;
    padding: 0 20px 0 0;
    line-height: 50px;
    white-space: nowrap;
    text-align: start;
    border-bottom: 1px solid #eff4fb;
    padding: 12px 20px 12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    p {
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;

      span {
        color: #71869d;
      }
    }
  }

  th {
    color: #71869d;
  }

  td {
    color: #121922;
  }

  &_anim {
    opacity: 1;
  }

  &_fetch td {
    opacity: 0.6;
    pointer-events: none;
  }

  .wide {
    width: 100%;
  }

  .narrow {
    width: 150px;
  }
}

.tag {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  background-color: #e0f7f0;
  color: #28a879;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  &_red {
    background-color: #fee9ef;
    color: #cc0101;
  }

  &_grey {
    background-color: #f1f4f9;
    color: #71869d;
  }
}

.wrapper {
  position: relative;
  display: inline-block;
}

.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #0047ff;
}

.accountOthers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.grayText {
  color: #71869d !important;
}

.deleteWrapper {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #eff4fb;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.deleteCell {
  padding: 0 !important;
}

.deleteIconButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .deleteIconRed {
    display: none;
  }

  &:hover {
    .deleteIcon {
      display: none;
    }

    .deleteIconRed {
      display: block;
    }
  }
}

.shrinkable {
  max-width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.agents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
