.modal {
  padding: 20px 24px;
  font-family: Inter;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    font-weight: 600;
  }

  .closeBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
