.modal {
  padding: 20px 24px;
  min-width: 628px;
  &_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 40px;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    font-weight: 600;
  }

  .close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.body {
  width: 628px;
  padding: 12px;
  border-radius: 4px;
  min-height: 400px;
  background: rgba(212, 223, 243, 0.17);
}
.paymentDetails {
  font-family: Arial, sans-serif;
  background: #f9fbfd;

  border-radius: 8px;
  max-width: 800px;
  font-size: 14px;
  color: #2c3e50;
}

.sectionHeader {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  margin-bottom: 10px;
  color: #6c7a89;
  margin-bottom: 12px;
}

.headerTitle {
  width: 200px;
  height: 30px;
  overflow: hidden;
  color: #71869d;
  margin-right: 44px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #eff4fb;
}

.dropdown {
  width: 200px;
}
.paymentDetails {
  background: #fafbfd;
  border-radius: 12px;
}

.sectionHeader {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  // position: relative;
  margin-bottom: 12px;

  &::before {
    content: '';
    grid-column: 1 / 2;
  }

  .headerTitle {
    font-weight: 500;
    color: #6c7a89;
    text-align: left;
  }

  .headerTitle:nth-child(1) {
    grid-column: 2;
  }

  .headerTitle:nth-child(2) {
    grid-column: 3;
  }
}

.detailsGrid {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;

  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: flex-start;
  // gap: 12px;
  margin-bottom: 12px;
}

.label {
  margin-right: 12px;
  width: 120px;
  text-align: right;
  color: #71869d;
  font-size: 14px;
  line-height: 1.4;
}

.content {
  color: #121922;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  word-break: break-word;
}

.contentWide {
  width: 100%;
  max-width: 496px;
  margin-bottom: 12px;
}

.sectionSubtitle {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #eff4fb;
  font-weight: 400;
  color: #6c7a89;
  margin-bottom: 12px;
}

.paymentSummary {
  margin-top: 8px;

  .sectionSubtitle {
    width: 200px;
    margin-left: 120px;
    font-weight: 400;
    color: #6c7a89;
    border-bottom: 1px solid #eff4fb;
    padding-bottom: 6px;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .row {
    display: flex;
    align-items: flex-start;
    gap: 0px;
    margin-bottom: 12px;
  }

  .label {
    width: 108px;
    margin-right: 12px;
    text-align: right;
    color: #71869d;
    font-size: 14px;
    line-height: 1.4;
    flex-shrink: 0;
  }

  .content {
    color: #121922;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    word-break: break-word;
    max-width: 496px;
    flex: 1;
  }
}

.controlSection {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.control {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 20px;
  &_btn {
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    gap: 6px;
  }

  :nth-child(2) {
    margin-bottom: 0;
  }
}

.combobox {
  width: 100%;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
